body {
  background-image: linear-gradient(#c30006, black);
  padding-top: 50px;
  height: 100%;
}

.container-full-width nav {
  padding: 20px;
}

.container-full-width .navbar-header a {
  font-size: 3em;
  color: white;
}

.container-full-width nav a {
  font-size: 2em;
}

.nav-item, .navbar-header {
  font-family: 'Anton', cursive;
}

.jumbotron {
  background: none;
}

.jumbotron h1, h2, p {
  color: white;
  font-family: 'Anton', cursive;
}

.col-sm-6 img {
  width: 100%;
  margin: 0;
  padding: 0px;
}
