.container-full-width nav {
  margin: 0;
  padding: 20px;
}

.container-full-width .navbar-header a {
  font-size: 3em;
}

.container-full-width nav a {
  font-size: 2em;
}

.jumbotron h1 {
  font-family: 'Anton', sans-serif;
  color: white;
}

.jumbotron h2 {
  font-family: 'Teko', sans-serif;
  color: white;
}

.nav-item, .navbar-header {
  font-family: 'Anton', cursive;
}

.jumbotron {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(#c30006, black);
  background-size: cover;
}

#image_container {
  padding: 20px;
}

.col-sm-6 img {
  width: 100%;
  padding: 10px;
}
